/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap');

html, body {
    background-image: url('http://getwallpapers.com/wallpaper/full/9/3/6/1100704-harvard-university-wallpapers-1920x1080-for-ipad.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    text-align: center;
}

.card {
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h2 {
    color: white;
    align-content: center;
}
.card-header h4 {
    color: white;
    align-content: center;
}
.card-header h3 {
    color: white;
    align-content: center;
}
.card-header {
	margin-bottom: -20;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}
.card-body {
    flex: 0;
    height: 166px;
}
.card-footer {
    color: #FFC312;
}
.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 358px;
    font-family: 'Noto Sans KR', sans-serif;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.flex-end {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
a:hover {
    color: #aeafb1;
}
a {
    color: #f8f9fa;
}